[Unit]
Description=Coins Site Service
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
ExecStart=/usr/bin/python3 /home/ubuntu/cyberdawncoins/coins_site/manage.py runserver localhost:8888
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target