<!DOCTYPE html>
<html>

<!-- bootstrap links -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="57235927369-u5m36u69li92j4lodulg3lfcmref4gmj.apps.googleusercontent.com">

<style>
  @media (min-width: 576px) {
  .jumbotron {
    padding-bottom: 2%;
    padding-top: 2%;
    
  }
}
</style>

<link rel="icon" href="https://lh4.googleusercontent.com/42bFF3faqvoxGRtmp2BWv3c9Imkn_Npc0_3PsrSxEnm1BqmXtBv7lu0FKqOtToZVRGMoee4PmMwmO8TCneMGYHg=w16383">
<body style="background-color: gainsboro;">
<title> GlobalProtect Environment Builder </title>

<div class="jumbotron container-fluid bg-dark">
  <div class="row">
    <div class="col col-lg-9"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <br>
  <div class="row">
    <div class="col col-lg-9">
      <h1 class="display-4 text-light">Evenstar AWS Environment Builder</h1>
    </div>
    <div class="col">
      <img src="https://lh4.googleusercontent.com/42bFF3faqvoxGRtmp2BWv3c9Imkn_Npc0_3PsrSxEnm1BqmXtBv7lu0FKqOtToZVRGMoee4PmMwmO8TCneMGYHg=w16383" width="100">
    </div>
  </div>
</div>

<div class="g-signin2" data-onsuccess="onSignIn"></div>
  
  </body>
</html>